@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --opn: 'Open Sans', sans-serif;
}

.container {
    max-width: 1000px;
    margin: auto;
}

header {
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

header nav i {
    color: #ffff;
    font-size: 24px;
}

.header-body h1 {
    font: 300 52px var(--opn);
    letter-spacing: 2px;
    color: #ffffff;
    text-align: center;
    margin-top: 220px;
}

header form {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 200px;
}


header form input {
    font: 400 16px var(--opn);
    letter-spacing: 1px;
    color: #8b8b8b;
    padding: 15px;
    outline: none;
    border: none;
    width: 300px;
}

header form button {
    font: 700 16px var(--opn);
    letter-spacing: 1px;
    color: #ffffff;
    text-align: center;
    background-color: #fd4f32;
    padding: 15px 50px;
    border: none;
}

/* .iki css start */

:root {
    --iki: 'Montserrat', sans-serif;
}

.iki {
    background-color: #eeeeee;
    padding-top: 60px;
}

.iki div h1 {
    font: 400 16px var(--iki);
letter-spacing: 0px;
color: #323232;
text-align: start;
text-transform: uppercase;
}

.iki div p {
    font: 400 15px var(--opn);
    letter-spacing: 0px;
    color: #8b8b8b;
    text-align: start;
    margin-bottom: 40px;
}

.image {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}

.image h1 {
    font: 400 14px var(--iki);
    letter-spacing: 0px;
    color: #323232;
    margin-top: 20px;
    margin-bottom: 22px;
}

.image p {
    font: 400 13px var(--opn);
    width: 204px;
    height: 75px;
    line-height: 19px;
    color: #696969;
    margin-bottom: 72px;
}

/* .uc css start */

.uc h1 {
    font: 300 52px var(--opn);
    letter-spacing: 2px;
    color: #323232;
    text-align: start;
    padding-top: 80px;
    margin-bottom: 55px;
}

.text{
    display: flex;
    justify-content: space-between;
}

.text h1 {
    font: 400 16 var(--iki);
    letter-spacing: 0px;
    color: #323232;
    text-align: center;
    margin-bottom: 20px;
}

.text p {
    font: 400 15px var(--opn);
    letter-spacing: 0px;
    line-height: 22px;
    color: #8b8b8b;
    margin-bottom: 75px;
}


.son h1{
    font: 400 16px var(--iki);
letter-spacing: 0px;
color: #323232;
text-align: center;
}

.son form{
    display: flex;
    margin-bottom: 80px;
    justify-content: center;
}

.son form input{
    padding: 14px 0 14px 13px;
    background-color: #eeeeee;
    border: none;
    outline: none;
}

.son form button{
    padding: 14px 30px;
    background-color: #fd4f32;
    border: none;
}

.uc nav{
    background-color: #eeeeee;
}

.uc nav p{
    font: 400 14px var(--opn);
letter-spacing: 0px;
line-height: 22px;
color: #8b8b8b;
}

.uc nav ul li{
    display: inline;
    padding-top: 1opx;
    float: right;
}

.uc nav ul li a{
    font: 400 14px var(--iki);
letter-spacing: 0px;
color: #323232;
padding-left: 18px;
text-decoration: none;
text-transform: uppercase;
}